@charset "utf-8";

/*---------------------------------------------

0 common
1 header
2 side
3 profile
 
---------------------------------------------*/
/*---------------------------------------------
0 common
---------------------------------------------*/
body {
  font-family: 'Noto Sans JP', sans-serif;
}
.item-figure {
  overflow: hidden;
}
.item-figure img {
  transition: 0.2s ease;
}
a:hover .item-figure img {
  transform: scale(1.05);
}
.soon {
  position: relative;
  overflow: hidden;
}
.soon::before {
  content: 'comming soon';
  background: rgba(0, 0, 0, 0.7);
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #fff;
  position: absolute;
  padding: 7px;
  font-size: 12px;
  top: 0;
  left: 0;
}
@media screen and (min-width: 768px) {
  .soon::before {
    font-size: 16px;
    padding: 10px;
  }
}
/*---------------------------------------------
1 header
---------------------------------------------*/
#header {
  width: 100%;
  height: 17vw;
  max-height: 85px;
  background: #fff;
}

.header_logo h1 {
  margin: 0;
}
a.header_logo {
  display: block;
  max-width: 120px;
  margin: 0 auto;
}
.header2 a.header_logo {
  margin: 20px auto 0;
}
.mgB30 {
  margin-bottom: 20px;
}
.dNoMb {
  display: none;
}
@media screen and (min-width: 767px) {
  a.header_logo {
    max-width: 190px;
    margin: 20px auto;
  }
  .header2 a.header_logo {
    margin: 25px auto 0;
  }
  .mgB30 {
    margin-bottom: 30px;
  }
  .dNoPc {
    display: none;
  }
  .dNoMb {
    display: block;
  }
}
/* パンクズ */
.bread_clumb {
  width: 100%;
  background: #e5e5e5;
  padding: 7px 10px;
}
.bread_clumb a.active {
  font-weight: bold;
}
.bread_list {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
}
.bread_item a {
  font-size: 12px;
}
.bread_item a.active {
  font-weight: bold;
}
.bread_item {
  margin-right: 10px;
}
.bread_item:not(:last-child)::after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: rotate(-45deg);
  position: relative;
  margin: 0 0 1px 5px;
}
@media screen and (min-width: 767px) {
  .bread_item a {
    font-size: 14px;
  }
}
/*---------------------------------------------
1 common
---------------------------------------------*/
#all {
}
img {
  width: 100%;
}
.wrap {
  width: calc(100% - 30px);
  margin: 20px auto;
  max-width: 1100px;
}

#contents {
  max-width: 800px;
}

@media screen and (min-width: 769px) {
  #contents {
    width: 100%;
  }
  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 70px auto;
  }
}

/*---------------------------------------------
1 side
---------------------------------------------*/
#side {
  background: #fff;
  width: 100%;
  min-height: 640px;
}
.side_box {
  padding: 10px;
}
.side_list-ttl a {
  border: 2px solid #333;
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  color: #000;
  text-decoration: none;
}
.side_list {
  list-style: none;
  padding: 0 10px;
}
.side_item {
  margin-bottom: 10px;
}
.side_item a {
  color: #333;
  text-decoration: none;
}
.side_item::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  transform: rotate(-45deg);
  margin-right: 10px;
}
@media screen and (min-width: 767px) {
  #side {
    max-width: 250px;
  }
}
/*---------------------------------------------
1 footer
---------------------------------------------*/
#footer {
  width: 100%;
  height: 15vw;
  background: #ccc;
  max-height: 65px;
}
.footer_copy {
  color: #fff;
  font-size: 12px;
  text-align: center;
  margin: 20px 0 0;
}
@media screen and (min-width: 767px) {
  .footer_copy {
    font-size: 14px;
  }
}

/*---------------------------------------------
page
---------------------------------------------*/

/* mv  */
#mv {
  background: #3b9a9c;
}
.page_mv {
  border: 1px solid #ebebeb;
}
.mv_txt {
  font-size: 20px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  padding: 30px 0;
}
.mv_txt-lead {
  text-align: center;
  color: #fff;
  padding-bottom: 30px;
  line-height: 1.5;
  font-weight: bold;
  font-size: 14px;
}
@media screen and (min-width: 767px) {
  .mv_txt {
    font-size: 28px;
  }
  .mv_txt-lead {
    font-size: 16px;
  }
}

#all {
  background: #f5f0f4;
}

.tab li {
  background: #fff;
  padding: 10px;
  border-radius: 7px;
  width: calc((100% / 3) - 10px);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-weight: bold;
}

.list-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  width: calc(100% + 6px);
  margin: 0 -3px;
}
.item {
  max-width: calc(((100% / 12) * 6) - 6px);
  flex-basis: calc(((100% / 12) * 6) - 6px);
  margin: 0 3px 20px;
  background: #fff;
  width: calc((100% / 2) - 6px);
  padding: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
}
.item a {
  display: block;
}
.item-ttl {
  font-weight: bold;
  margin: 10px 0;
}
.item-txt {
  line-height: 1.6;
  font-size: 12px;
  margin: 10px 0;
}
@media screen and (min-width: 767px) {
  .list-item {
    width: calc(100% + 20px);
    margin: 0 -10px;
  }
  .item {
    max-width: calc(((100% / 12) * 4) - 20px);
    flex-basis: calc(((100% / 12) * 4) - 20px);
    margin: 0 10px 10px;
  }
  .item-txt {
    font-size: 14px;
  }
}

.page #contents {
  background: #fff;
  margin-bottom: 50px;
  padding-bottom: 30px;
  line-height: 1.6;
}
.page_txt {
  line-height: 2;
}
.page_date {
  color: #828282;
  margin: 10px;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
}
.page_index {
  width: calc(100% - 20px);
  max-width: 500px;
  margin: 10px auto;
  font-size: 14px;
  border: 1px solid #ccc;
  background: #fff;
}
.page_index_ttl {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
  background: #3b9a9c;
  color: #fff;
  padding: 5px 0;
}

.page_index_list {
  padding: 3px 20px;
}
.page_index_item a {
  display: block;
  margin-bottom: 10px;
}
.page_index_item a:hover {
  opacity: 0.7;
}
.page_section {
  width: calc(100% - 20px);
  margin: 10px auto;
}
h2.page_ttl {
  background: #ebebeb;
  font-size: 18px;
  padding: 10px 10px 10px 20px;
  margin: 30px 0 20px;
  font-weight: bold;
  position: relative;
}
h2.page_ttl::before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 100%;
  background: #3b9a9c;
  position: absolute;
  top: 0;
  left: 0;
}
h3.page_ttl-sub {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 25px 0 5px 6px;
}
h3.page_ttl-sub::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 5px;
  background: #3b9a9c;
  position: relative;
  top: -5px;
  left: -6px;
}
h4.page_ttl-sub2 {
  font-size: 1.1rem;
  font-weight: bold;
  /* color: #3b9a9c; */
}
.page_figure {
  width: 100%;
  max-width: 600px;
  margin: 15px auto;
  border: 1px solid #ccc;
  /* padding: 10px; */
}
.page_box {
  margin: 20px auto;
  padding: 15px 10px 1px;
  background: #f3f3f3;
}
.page_box_ttl {
  font-weight: bold;
  margin-top: 20px;
  font-size: 1.1em;
}
.page_box li {
  margin-bottom: 10px;
}
.page_box li:last-child {
  margin-bottom: 15px;
}
.page_box.point {
  background: #fef4f4;
  border: 1px solid #000;
  position: relative;
}
.page_box.point::before {
  content: 'point';
  position: absolute;
  top: -15px;
  left: -1px;
  background: #ff6f6f;
  color: #fff;
  padding: 1px 10px 2px;
  font-weight: bold;
  letter-spacing: 0.06em;
}
span.color {
  color: #ff6f6f;
  font-weight: bold;
}
p span.bold {
  font-weight: bold;
}
.list {
  margin-bottom: 40px;
}
.list dt {
  font-size: 1.2rem;
  margin-bottom: 5px;
  margin-left: 6px;
}
.list dt::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 5px;
  background: #3b9a9c;
  position: relative;
  top: -5px;
  left: -6px;
}
span.mkBL {
  background: linear-gradient(
    rgba(255, 255, 255, 0) 40%,
    rgba(113, 150, 189, 0.3) 70%
  );
}
@media screen and (min-width: 767px) {
  .page #contents {
    margin-bottom: 70px;
  }
  .page_txt {
    font-size: 17px;
  }
  .page_box .page_txt {
    font-size: 16px;
  }
  .page_date {
    font-size: 14px;
  }
  .page_index {
    margin: 30px auto;
  }
  .page_lead {
    width: calc(100% - 30px);
    margin: 30px auto;
  }
  .page_section {
    width: calc(100% - 100px);
    margin: 30px auto;
  }
  .page_ttl {
    margin: 50px auto 20px;
  }
  .page_figure {
    width: 100%;
    margin: 20px auto;
  }
  .page_box {
    margin: 30px auto;
    padding: 30px 30px 1px;
  }
  .page_box li:last-child {
    margin-bottom: 30px;
  }
  .page_box.point::before {
    top: -10px;
    left: -5px;
  }
}
@media screen and (max-width: 766px) {
  .page .wrap {
    width: 100%;
    margin: 0;
  }
}
