@charset "utf-8";

#all {
  background: #f5f0f4;
}
.tab {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 30px;
}

.tab li {
  background: #fff;
  padding: 7px 5px;
  border-radius: 7px;
  width: calc((100% / 3) - 10px);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-weight: bold;
}
.tab li a {
  display: block;
  font-size: 13px;
}
.list-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
}
.item {
  background: #fff;
  width: calc((100% / 2) - 6px);
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
  position: relative;
}
.item a {
  display: block;
}
.item-ttl {
  font-weight: bold;
  margin: 10px 0;
}
.item-txt {
  line-height: 1.6;
  font-size: 12px;
  margin: 10px 0;
}
.item-date {
  text-align: right;
  color: #828282;
  font-weight: bold;
  font-size: 12px;
}
.topics {
  text-align: center;
  margin: 0 auto 30px;
  font-weight: bold;
  font-size: 12px;
  position: relative;
  letter-spacing: 0.1em;
}
.topics::before,
.topics::after {
  content: '';
  width: 40%;
  height: 2px;
  display: inline-block;
  background: #ccc;
  position: absolute;
  top: 4px;
}
.topics::before {
  left: 0;
}
.topics::after {
  right: 0;
}
.item::before {
  content: 'レタッチ';
  display: inline-block;
  position: absolute;
  background: #398ab9;
  bottom: 8px;
  left: 8px;
  color: #fff;
  padding: 5px 10px 3px;
  font-weight: bold;
  font-size: 10px;
  border-radius: 10px;
}
.item.design::before {
  content: 'デザイン';
  background: #3b9a9c;
}
@media screen and (min-width: 767px) {
  .tab li {
    padding: 10px 15px 10px 10px;
  }
  .tab li a {
    font-size: 16px;
  }
  .item {
    width: calc((100% / 2) - 10px);
    margin-bottom: 30px;
  }
  .item-txt {
    font-size: 14px;
  }
  .item-date {
    font-size: 14px;
  }
  .topics::before,
  .topics::after {
    width: 43%;
  }
}
