@charset "utf-8";

#all {
  background: #f5f0f4;
}
.tab {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.tab li {
  background: #fff;
  padding: 10px;
  border-radius: 7px;
  width: calc((100% / 3) - 10px);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-weight: bold;
}
.list_box {
  margin-top: 30px;
}
.list-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
}
.item {
  background: #fff;
  width: calc((100% / 2) - 6px);
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
}
.item a {
  display: block;
}
.item-ttl {
  font-weight: bold;
  margin: 10px 0;
}
.item-txt {
  line-height: 1.6;
  font-size: 12px;
  margin: 10px 0;
}
@media screen and (min-width: 767px) {
  .item {
    width: calc((100% / 2) - 10px);
    margin-bottom: 30px;
  }
  .item-txt {
    font-size: 14px;
  }
}
