@charset "utf-8";

/*---------------------------------------------
mv
---------------------------------------------*/
#mv {
  background: #3b9a9c;
}
/*---------------------------------------------
layout
---------------------------------------------*/
#layout .page_figure {
  background: #fdf5ea;
  padding: 15px;
}
@media screen and (min-width: 767px) {
  #layout .page_figure {
    padding: 20px;
  }
}

/*---------------------------------------------
copyright
---------------------------------------------*/
#copyright .page_box {
  padding-bottom: 10px;
}
#copyright .page_box li {
  margin-bottom: 10px;
}
/*---------------------------------------------
font
---------------------------------------------*/
.rome .page_box_ttl {
  color: #ab4545;
}
.jp .page_box_ttl {
  color: #3c72ab;
}
.rome.page_box {
  background: #fff1f1;
}
.jp.page_box {
  background: #ebeff9;
}
