@charset "utf-8";

/*---------------------------------------------
mv
---------------------------------------------*/
#mv {
  background: #398AB9;
}
.page_index_ttl {
  background: #398AB9;
}

h2.page_ttl::before {
  background: #398AB9;
}
h3.page_ttl-sub::before {
  background: #398AB9;
}